body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.App {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba;
    border-radius: 8px;
}
header {
    background-color: #4285f4;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px 8px 0 0;
}
form {
    margin-bottom: 20px;
}
form input,
form textarea,
form button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
form button {
background-color: #4285f4;
color: white;
cursor: pointer;
}
form buttono:hover {
    background-color: #3270e8;
}
.Post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.Post button {
    background-color: #d14836;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.Post button:hover {
    background-color: #b83121;
}
.Post p {
    margin: 0;
}
.PostList {
    margin-top: 20px;
}